.git
.gitignore
.idea
.vscode

**/.DS_Store
**/Thumbs.db

**/node_modules
**/.nuxt
**/.output
**/dist
**/.cache

**/.venv
**/venv
**/__pycache__
**/*.pyc
**/*.pyo
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache

research
input
output
results

*.log
.env
.env.*
!.env.example